@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Atkinson Hyperlegible", sans-serif;
}

.transition-width {
    transition-property: width;
}
.form-input {
    display: block;
    width: 100%;
    border-radius: .375rem;
    border-width: 1px;
    padding: .5rem 1rem;
    font-size: .875rem;
}
.btn {
    display: inline-block;
    border-radius: .375rem;
    border-width: 1px;
    padding: .5rem 1rem;
    text-align: center;
    font-size: .8125rem;
}
